/*Homepage*/

.heading {
    font-family: "Arvo", sans-serif;
    text-align: center;
    font-size: 40px;

}

#homepage-div {
    text-align: center;
    background-color: #dbcfef;
    box-sizing: border-box;
    width: 85%;
    max-width: 830px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#first-heading {
    font-size: 35px;
}

p {
    font-size: 25px;
}

#start-btn {
    background-color: #a15be1;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px;
    margin-bottom: 40px;
}

/* First Question */

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: black;
    font-weight: 600px;
}

#questions {
    font-family: "Arvo", sans-serif;
}

.button {
    background: #ffffff;
    color: #222;
    font-family: "Arvo", sans-serif;
    width: 50%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background: #dbcfef;
}

#next-button {
    background: #a15be1;
    color: #ffffff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}